<h1>The Lovestruck Daydreaming Panda</h1>
	<div id="container">
		<div><%= image_tag 'images/lovestruck.jpg'%></div>
		<div style="position: absolute; left: 20px; top: 160px">
			<span style="font-family: Arial; font-weight: 				bold;">Compliment will go here.</span>
		</div>
	</div>