// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#panda {
    background-image:  url('../images/lovestruck.jpg');
    background-repeat: no-repeat;
    height: 349px;
    width: 700px;
}

div#pandatext {
    position: relative;
    height: auto;
    width: 375px;
    left: 60px;
	top: 130px;
}